.chart{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #434960;
    border: 2px solid silver;
    box-shadow: 24px;
    font-size: 20px;
    min-height: 50vh;
}